@font-face { font-family: Medio; src: url('medio.otf'); }

#header-img {
	height: 400px;
	position: center;
	display: block;
	margin: auto;
	margin-top: -150px;
	/* box-shadow: x-coordinate y-coordinate blur #color*/
	box-shadow: 8px 8px #E5E3E8;

}

body {
	font-family: 'Medio', serif;
	font-weight: 300;
	color: #404040;
}

header {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: #2B2B2B;
}

p {
	/*letter-spacing: 1px;*/
	word-spacing: 3px;
	text-align: justify;
	font-size: 18px;
	line-height: 1.5;
}

h1 {
	font-weight: 400;
	font-size: 50px;
	color: #1F1F1F;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 20px;
	margin:0 0 0 5px;
}

h2, h3 {
margin: 0;
}

h4 {
	color: #424242;
	text-align: center;
	font-weight: 400;
}

.bigHr {
	width: 50%;
	margin-bottom: 40px;
	background-color: #1F1F1F;
	border-color: #1F1F1F;
}

.smallHr {
	width: 40px;
	margin-bottom: 10px;
}

.footerHr {
	width: 70%;
}

footer {
	margin: 0 20%;
	text-align: center;
	font-size: 14px;
}

.entry {
	margin: 0 20%;
}