@font-face { font-family: Medio; src: url('medio.otf'); }


#header-img {
	height: 400px;
	position: center;
	display: block;
	margin: auto;
	margin-top: -150px;
	/* box-shadow: x-coordinate y-coordinate blur #color*/
	box-shadow: 8px 8px #E5E3E8;

}

body {
	font-family: 'Medio', sans-serif;
	font-weight: 300;
	margin-bottom: 0;
	color: #404040;
}

header {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: #2B2B2B;
}

hr {
	width: 60%;
	margin-bottom: 30px;
	background-color: #1F1F1F;
	border-color: #1F1F1F;
}

p {
	word-spacing: 3px;
	text-align: justify;
	font-size: 20px;
	line-height: 1.5;
}

h1 {
	font-weight: 400;
	font-size: 50px;
	color: #1F1F1F;
	margin-bottom: 10px;
}

h2 {
	font-size: 35px;
	margin: 45px 0 0 0;
	color: #2E2E2E;
	text-align: center;
}

h3 {
	font-size: 18px;
	color: #707070;
	text-align: center;
}

.date {
	border-top: 1px solid #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
	margin: 5px 0;
	padding: 15px 0;
}

h4 {
	font-size: 20px;
	color: #707070;
	text-align: center;
	font-weight: 400;
}

.entry {
	margin: 0 20%;
}

footer {
	font-size: 15px;
	background-color: #E5E3E8;
	text-align: center;
	padding: 25px 0 ;
	margin: 100px -40px 0 -40px;
}

.social {
	width: 380px;
	margin: auto;
	padding: 30px 0;
}

.social-link {
	display: inline-block;
	padding: 0 30px;
}

.social-img {
	padding-right: 12px;
}

.thanks {
	font-size: 12px;
}

a:visited {
	color: #707070;
}

a:link {
	color: #707070;
	text-decoration: none;
}

a:hover {
	color: #707070;
	text-decoration: none;
}

a:active {
	color: #707070;
}







